button {
  background-color: gray;
  height: 10vh;
  width: 10vh;
  font-weight: 900;
  font-size: 2.5vh;
}
#Start {
  position:absolute;
  top: 35vh;
  left: 45vw;
}
#Reset {
  position:absolute;
  top: 35vh;
  left: 51vw;
}
timer {
  position: absolute;
  top: 20vh;
  left: 47.5vw;
  font-size: 5vh;
}
